// REGOLE FLEX: 

@mixin flex ($type) {
    display: flex;

    @if $type =='between' {
        justify-content: space-between;
    }

    @else if $type =='center' {
        align-items: center;
    }

    @else if $type =='both' {
        justify-content: space-between;
        align-items: center;
    }
}